:root {
  --white: #f2f2f2;
  --white-alifa: rgba(255, 255, 255, 0.5);
  --white-alifa-alifa: rgba(255, 255, 255, 0.2);
  --light-grey: #e5e5e5;
  --grey: #bbbcbc;
  --yellow: #dfd1a7;
  --green: #a7c186;
  --black: #0a090d;
  --dark-grey: #393939;
}

@font-face {
  font-family: "НCourier New";
  src: url("../courbd.ttf") format("ttf");
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--black);
}

*::selection {
  background-color: var(--dark-grey);
  color: var(--light-grey);
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  outline: red dashed;
}

/**
  |============================
  | header
  |============================
*/

.header {
  padding: 26px 0;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-right: 53px;
}

.header-img {
  width: 38px;
  height: 77px;
}

.header-text {
  color: var(--white);
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.4;
}

.header-nav {
  display: flex;
}

.header-list {
  display: flex;
  gap: 37px;
}

.header-item {
}

.header-link {
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

.header-link-active {
  color: var(--yellow);
}

.header-tel {
  display: flex;
  gap: 20px;
  margin-left: auto;
  align-items: center;
}

.header-icon {
  width: 16px;
  height: 16px;
}

.header-num {
  color: var(--light-grey);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

/**
  |============================
  | main
  |============================
*/

.main {
}

.drill {
  padding-top: 60px;
  padding-bottom: 160px;
}

.drill-wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
  border-bottom: var(--white-alifa-alifa) 2px solid;
  margin-bottom: 60px;
}

.drill-title {
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.drill-back {
  color: var(--light-grey);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.drill-subtitle {
  color: var(--white);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.drill-price {
  color: var(--yellow);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 40px;
}

.drill-img {
}

.drill-wraer {
  display: flex;
  gap: 68px;
  margin-top: 40px;
}

.drill-buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 4px;
}

.drill-button {
  padding-left: 22px;
  display: flex;
  height: 22px;
}

.drill-button:hover {
  padding-left: 0;
}

.drill-button::before {
  content: "";
  background-color: var(--yellow);
  width: 2px;
  height: 22px;
  display: none;
  margin-right: 20px;
}

.drill-button:hover:before {
  display: block;
}

.drill-btn {
  color: var(--white-alifa-alifa);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  width: 330px;
  text-align: start;
}

.drill-btn:hover {
  color: var(--white);
}

.drill-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 780px;
  margin-bottom: 40px;
}

.drill-item {
}

.drill-header {
  color: var(--white);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}

.drill-descs {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.drill-desc {
  color: var(--light-grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--light-grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.drill-discs {
  list-style-type: disc;
  list-style-position: inside;
}

.drill-disc {
  color: var(--light-grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.drill-wrap {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.drill-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 60px;
}

.drill-label {
  display: flex;
  flex-direction: column;
  color: var(--white-alifa);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
}

.drill-input {
  background-color: inherit;
  border: none;
  border-bottom: var(--white-alifa-alifa) solid 1px;
  margin-top: 10px;
  padding-bottom: 10px;
  width: 360px;
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
}

.drill-input::placeholder {
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
}

.drill-coment {
  background-color: inherit;
  border: none;
  border-bottom: var(--white-alifa-alifa) solid 1px;
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  height: 36px;
  width: 360px;
  margin-top: 10px;
}

.drill-coment::placeholder {
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.drill-submit {
  background-color: var(--yellow);
  color: var(--dark-grey);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  width: 210px;
  padding: 15px 0;
}

.drill-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.drill-text {
  color: var(--light-grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.drill-link {
  color: var(--yellow);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  text-decoration-line: underline;
}

/**
  |============================
  | fotter
  |============================
*/

.footer {
  padding-bottom: 32px;
}

.footer-container {
}

.footer-wrapper {
  display: flex;
  margin-bottom: 60px;
  border-top: var(--white-alifa-alifa) 1px solid;
  padding-top: 59px;
}

.footer-logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-img {
}

.footer-text {
  color: var(--white);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}

.footer-desc {
  color: var(--light-grey);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  width: 194px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer-tel {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer-phone {
  width: 16px;
  height: 16px;
}

.footer-num {
  color: var(--light-grey);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

.footer-lists {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 136px;
  margin-left: 211px;
}

.footer-items {
  padding-right: 58px;
  margin-right: 58px;
  border-right: var(--white-alifa-alifa) 1px solid;
}

.footer-items:last-child {
  padding-right: 0;
  margin-right: 0;
  border-right: 0px;
}

.footer-list {
}

.footer-item {
  margin-bottom: 30px;
}

.footer-item:last-child {
  margin-bottom: 0;
}

.footer-link {
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.footer-networks {
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.footer-network {
}

.footer-run {
}

.footer-icon {
}

.footer-copyright {
  color: var(--light-grey);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  border-top: var(--white-alifa-alifa) 1px solid;
  padding-top: 30px;
}
