h1,
h2,
h3,
h4,
p,
hr,
body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
}

a {
  text-decoration: none;
}
