:root {
  --white: #f2f2f2;
  --white-alifa: rgba(255, 255, 255, 0.5);
  --white-alifa-alifa: rgba(255, 255, 255, 0.2);
  --light-grey: #e5e5e5;
  --grey: #bbbcbc;
  --yellow: #dfd1a7;
  --green: #a7c186;
  --black: #0a090d;
  --dark-grey: #393939;
}

@font-face {
  font-family: "НCourier New";
  src: url("../courbd.ttf") format("ttf");
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--black);
}

*::selection {
  background-color: var(--dark-grey);
  color: var(--light-grey);
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: red dashed; */
}

/**
  |============================
  | header
  |============================
*/

.header {
  padding: 26px 0;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-right: 53px;
}

.header-img {
  width: 38px;
  height: 77px;
}

.header-text {
  color: var(--white);
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.4;
}

.header-nav {
  display: flex;
}

.header-list {
  display: flex;
  gap: 37px;
}

.header-item {
}

.header-link {
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

.header-tel {
  display: flex;
  gap: 20px;
  margin-left: auto;
  align-items: center;
}

.header-icon {
  width: 16px;
  height: 16px;
}

.header-num {
  color: var(--light-grey);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

/**
  |============================
  | main
  |============================
*/

.main {
}

/**
  |============================
  | hero
  |============================
*/

.hero {
  padding-top: 138px;
  padding-bottom: 246px;
  background-image: url(../img/index/hero-background.webp);
  background-repeat: cover;
  background-repeat: no-repeat;
}

.hero-title {
  color: var(--white);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 20px;
  width: 753px;
}

.hero-info {
  color: var(--grey);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 60px;
  width: 780px;
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.hero-list {
  display: flex;
  gap: 10px;
}

.hero-item {
}

.hero-btn {
  color: var(--black);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  box-sizing: border-box;
}

.hero-item:first-child .hero-btn {
  background-color: var(--green);
  padding: 15px 33.5px;
}

.hero-item:last-child .hero-btn {
  background-color: var(--yellow);
  padding: 15px 54.5px;
}

.hero-desc {
  color: var(--yellow);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  width: 359px;
}

/**
  |============================
  | survey
  |============================
*/

.survey {
  padding-top: 160px;
  padding-bottom: 80px;
}

.survey-title {
  color: var(--white);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 90px;
}

.survey-wrapper {
  display: flex;
  justify-content: space-between;
}

.survey-wrap {
  width: 780px;
}

.survey-subtitle {
  color: var(--yellow);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  width: 344px;
}

.survey-descs {
}

.survey-desc {
  color: var(--light-grey);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 30px;
}

.survey-link {
  color: var(--yellow);
  font-size: 14px;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: uppercase;
}

/**
  |============================
  | kinds
  |============================
*/

.kinds {
  padding: 80px 0;
}

.kinds-title {
  color: var(--white);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 90px;
}

.kinds-wrapper {
  display: flex;
  justify-content: space-between;
}

.kinds-subtitle {
  color: var(--yellow);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  width: 344px;
}

.kinds-list {
  display: flex;
  width: 780px;
  flex-direction: column;
  gap: 30px;
}

.kinds-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--white-alifa-alifa) solid 1px;
  padding-bottom: 30px;
}

.kinds-text {
  width: 656px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.kinds-img {
  width: 64px;
  height: 64px;
}

.kinds-header {
  color: var(--white);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}

.kinds-desc {
  color: var(--light-grey);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
}

.kinds-link {
  color: var(--yellow);
  font-size: 14px;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: uppercase;
}

/**
  |============================
  | quality
  |============================
*/

.quality {
  padding-top: 80px;
  padding-bottom: 120px;
}

.quality-wrapper {
  display: flex;
  gap: 153px;
  padding-bottom: 68px;
  border-bottom: var(--white-alifa-alifa) solid 1px;
}

.quality-text {
}

.quality-title {
  color: var(--white);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 603px;
}

.quality-desc {
  color: var(--light-grey);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
  width: 687px;
}

.quality-wrap {
}

.quality-info {
  color: var(--white-alifa);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  width: 79px;
}

.quality-num {
  color: var(--white);
  font-family: Montserrat;
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
}

.quality-menu {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}

.quality-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.quality-item {
  padding-left: 30px;
  display: flex;
}

.quality-item:hover {
  padding-left: 0;
}

.quality-item::before {
  content: "";
  background-color: var(--yellow);
  width: 2px;
  height: 34px;
  display: none;
  margin-right: 28px;
}

.quality-item:hover:before {
  display: block;
}

.quality-btn {
  color: var(--white-alifa);
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}

.quality-btn:hover {
  color: var(--white);
}

.quality-projs {
  display: flex;
  gap: 60px;
}

.quality-proj {
}

.quality-img {
}

.quality-content {
  border-bottom: var(--white-alifa-alifa) solid 1px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.quality-subtitle {
  color: var(--white);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  margin-top: 20px;
  margin-bottom: 10px;
}

.quality-year {
  color: var(--white-alifa);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
}

.quality-link {
  color: var(--yellow);
  font-size: 14px;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: uppercase;
  margin-top: 20px;
}

/**
  |============================
  | order
  |============================
*/

.order {
  padding-top: 120px;
  padding-bottom: 80px;
}

.order-title {
  color: var(--white);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 90px;
}

.order-wrap {
  display: flex;
  justify-content: space-between;
}

.order-subtitle {
  color: var(--yellow);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  width: 344px;
}

.order-list {
  display: flex;
  flex-direction: column;
  gap: 29px;
  width: 785px;
}

.order-item {
  color: var(--light-grey);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
}

/**
  |============================
  | how
  |============================
*/

.how {
  padding: 80px 0;
}

.how-title {
  color: var(--white);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.how-wrapper {
  display: flex;
}

.how-list {
  display: flex;
  flex-direction: column;
  gap: 85px;
  padding-right: 188px;
  border-right: var(--white-alifa-alifa) 1px solid;
  margin-right: 103px;
}

.how-item {
  height: 54px;
  display: flex;
}

.how-button {
  color: var(--white-alifa);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.how-button:hover {
  color: var(--yellow);
}

.how-num {
  border: var(--white-alifa) solid 1px;
  border-radius: 50%;
  padding: 16px 22px;
}

.how-item:first-child .how-num {
  padding: 16px 23.5px;
}

.how-item:last-child .how-num {
  padding: 16px 21px;
}

.how-num:hover {
  border: var(--yellow) solid 1px;
}

.how-text {
  margin-left: 15px;
}

.how-wrap {
  width: 490px;
}

.how-subtitle {
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 30px;
}

.how-info {
  color: var(--light-grey);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
}

/**
  |============================
  | about
  |============================
*/

.about {
  padding: 80px 0;
}

.about-list {
  display: flex;
  gap: 180px;
}

.about-item {
  width: 420px;
}

.about-subtitle {
  color: var(--white);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.about-desc {
  color: var(--light-grey);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
  margin-top: 90px;
  margin-bottom: 20px;
}

.about-link {
  color: var(--yellow);
  font-size: 14px;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: uppercase;
}

/**
  |============================
  | goals
  |============================
*/

.goals {
  padding: 80px 0;
}

.goals-title {
  color: var(--white);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 90px;
  width: 603px;
}

.goals-list {
}

.goals-item {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 30px 0;
  border-bottom: var(--white-alifa-alifa) solid 1px;
}

.goals-item:first-child {
  border-top: var(--white-alifa-alifa) solid 1px;
}

.goals-subtitle {
  color: var(--white);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}

.goals-desc {
  color: var(--light-grey);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
  width: 780px;
}

/**
  |============================
  | necessity
  |============================
*/

.necessity {
  padding-top: 80px;
  padding-bottom: 110px;
}

.necessity-title {
  color: var(--white);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  width: 656px;
  margin-bottom: 90px;
}

.necessity-wrap {
  display: flex;
}

.necessity-img {
}

.necessity-descs {
  display: flex;
  flex-direction: column;
  gap: 29px;
  padding: 30px 50px 26px;
  background-color: #1f1f1f;
}

.necessity-desc {
  color: var(--light-grey);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
}

/**
  |============================
  | level
  |============================
*/

.level {
  padding-top: 110px;
  padding-bottom: 80px;
}

.level-title {
  color: var(--white);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 60px;
  width: 508px;
}

.level-wrap {
  display: flex;
  justify-content: space-between;
}

.level-subtitle {
  color: var(--yellow);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  width: 329px;
}

.level-list {
  width: 780px;
}

.level-item {
  padding: 30px 0;
  border-bottom: var(--white-alifa-alifa) 1px solid;
}

.level-item:first-child {
  padding-top: 0;
}

.level-header {
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 20px;
}

.level-desc {
  color: var(--light-grey);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

/**
  |============================
  | question
  |============================
*/

.question {
  padding-top: 80px;
  padding-bottom: 60px;
}

.question-title {
  color: var(--white);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.question-wrap {
  display: flex;
  justify-content: space-between;
}

.question-subtitle {
  color: var(--yellow);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  width: 238px;
}

.question-list {
  width: 780px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.question-item {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: var(--white-alifa-alifa) 1px solid;
}

.question-item::before {
  content: "";
  display: block;
  background-image: url(../img/index/plus.webp);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: cover;
}

.question-header {
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}

/**
  |============================
  | ectimate
  |============================
*/

.estimate {
  padding: 60px 0;
}

.estimate-title {
  color: var(--white);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 60px;
  width: 508px;
}

.estimate-form {
}

.estimate-label {
  display: flex;
}

.estimate-text {
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.estimate-text:nth-child(2) {
  margin-left: auto;
  margin-right: 60px;
}

.estimate-label .estimate-text:nth-child(2) {
  align-self: center;
  height: 25px;
}

.estimate-input {
  background-color: inherit;
  border: none;
  border-bottom: var(--white-alifa-alifa) solid 1px;
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  text-align: end;
  width: 360px;
  padding-bottom: 10px;
}

.estimate-input::placeholder {
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  text-align: start;
}

.estimate-wrapper {
  display: flex;
  margin-top: 30px;
  margin-bottom: -5px;
}

.estimate-wrapper .estimate-text:first-child {
  width: 315px;
}

.estimate-download {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 25px;
}

.estimate-download .estimate-text {
  padding-right: 161px;
  margin: 0;
}

.estimate-wrap {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.estimate-list {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.estimate-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.estimate-link {
  color: var(--yellow);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  text-decoration-line: underline;
}

.estimate-img {
  width: 14px;
  height: 14px;
}

.estimate-btn {
  background-color: var(--yellow);
  color: var(--dark-grey);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: start;
  margin-right: 150px;
  padding: 15px 37.5px;
  margin-top: 40px;
}

/**
  |============================
  | contact
  |============================
*/

.contact {
  padding-top: 60px;
  padding-bottom: 180px;
}

.contact-title {
  color: var(--white);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.contact-wrap {
  display: flex;
}

.contact-form {
  margin-left: 420px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 60px;
}

.contact-label {
  color: var(--white-alifa);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
}

.contact-input {
  background-color: inherit;
  border: none;
  border-bottom: var(--white-alifa-alifa) solid 1px;
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  margin-top: 10px;
  padding-bottom: 10px;
  width: 360px;
}

.contact-input::placeholder {
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.contact-coment {
  background-color: inherit;
  border: none;
  border-bottom: var(--white-alifa-alifa) solid 1px;
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  height: 36px;
  width: 360px;
  margin-top: 10px;
}

.contact-coment::placeholder {
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.contact-btn {
  background-color: var(--yellow);
  color: var(--dark-grey);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  width: 210px;
  padding: 15px 0;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact-text {
  color: var(--light-grey);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

.contact-link {
  color: var(--yellow);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  text-decoration-line: underline;
}

/**
  |============================
  | footer
  |============================
*/

.footer {
  padding-bottom: 32px;
}

.footer-container {
}

.footer-wrapper {
  display: flex;
  margin-bottom: 60px;
  border-top: var(--white-alifa-alifa) 1px solid;
  padding-top: 59px;
}

.footer-logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-img {
}

.footer-text {
  color: var(--white);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}

.footer-desc {
  color: var(--light-grey);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  width: 194px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer-tel {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer-phone {
  width: 16px;
  height: 16px;
}

.footer-num {
  color: var(--light-grey);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

.footer-lists {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 136px;
  margin-left: 211px;
}

.footer-items {
  padding-right: 58px;
  margin-right: 58px;
  border-right: var(--white-alifa-alifa) 1px solid;
}

.footer-items:last-child {
  padding-right: 0;
  margin-right: 0;
  border-right: 0px;
}

.footer-list {
}

.footer-item {
  margin-bottom: 30px;
}

.footer-item:last-child {
  margin-bottom: 0;
}

.footer-link {
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.footer-networks {
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.footer-network {
}

.footer-run {
}

.footer-icon {
}

.footer-copyright {
  color: var(--light-grey);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  border-top: var(--white-alifa-alifa) 1px solid;
  padding-top: 30px;
}
