:root {
  --white: #f2f2f2;
  --white-alifa: rgba(255, 255, 255, 0.5);
  --white-alifa-alifa: rgba(255, 255, 255, 0.2);
  --light-grey: #e5e5e5;
  --grey: #bbbcbc;
  --yellow: #dfd1a7;
  --green: #a7c186;
  --black: #0a090d;
  --dark-grey: #393939;
}

@font-face {
  font-family: "НCourier New";
  src: url("../courbd.ttf") format("ttf");
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--black);
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  outline: red dashed;
}

.header {
  padding: 26px 0;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-right: 53px;
}

.header-img {
  width: 38px;
  height: 77px;
}

.header-text {
  color: var(--white);
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.4;
}

.header-nav {
  display: flex;
}

.header-list {
  display: flex;
  gap: 37px;
}

.header-item {
}

.header-link {
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

.header-tel {
  display: flex;
  gap: 20px;
  margin-left: auto;
  align-items: center;
}

.header-icon {
  width: 16px;
  height: 16px;
}

.header-num {
  color: var(--light-grey);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

.main {
}

.hero {
  padding-top: 138px;
  padding-bottom: 246px;
  background-image: url(../img/hero-background.jpg);
  background-repeat: cover;
  background-repeat: no-repeat;
}

.hero-title {
  color: var(--white);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 20px;
  width: 753px;
}

.hero-info {
  color: var(--grey);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 60px;
  width: 780px;
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.hero-list {
  display: flex;
  gap: 10px;
}

.hero-item {
}

.hero-btn {
  color: var(--black);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  box-sizing: border-box;
}

.hero-item:first-child .hero-btn {
  background-color: var(--green);
  padding: 15px 33.5px;
}

.hero-item:last-child .hero-btn {
  background-color: var(--yellow);
  padding: 15px 54.5px;
}

.hero-desc {
  color: var(--yellow);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  width: 359px;
}

.survey {
  padding-top: 160px;
  padding-bottom: 80px;
}

.survey-title {
  color: var(--white);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 90px;
}

.survey-wrapper {
  display: flex;
  justify-content: space-between;
}

.survey-wrap {
  width: 780px;
}

.survey-subtitle {
  color: var(--yellow);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  width: 344px;
}

.survey-descs {
}

.survey-desc {
  color: var(--light-grey);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 30px;
}

.survey-link {
  color: var(--yellow);
  font-size: 14px;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.kinds {
  padding: 80px 0;
}

.kinds-title {
  color: var(--white);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 90px;
}

.kinds-wrapper {
  display: flex;
  justify-content: space-between;
}

.kinds-subtitle {
  color: var(--yellow);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  width: 344px;
}

.kinds-list {
  display: flex;
  width: 780px;
  flex-direction: column;
  gap: 30px;
}

.kinds-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--white-alifa-alifa) solid 1px;
  padding-bottom: 30px;
}

.kinds-text {
  width: 656px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.kinds-img {
  width: 64px;
  height: 64px;
}

.kinds-header {
  color: var(--white);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}

.kinds-desc {
  color: var(--light-grey);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
}

.kinds-link {
  color: var(--yellow);
  font-size: 14px;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.quality {
  padding-top: 80px;
  padding-bottom: 120px;
}

.quality-wrapper {
  display: flex;
  gap: 153px;
  padding-bottom: 68px;
  border-bottom: var(--white-alifa-alifa) solid 1px;
}

.quality-text {
}

.quality-title {
  color: var(--white);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 603px;
}

.quality-desc {
  color: var(--light-grey);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
  width: 687px;
}

.quality-wrap {
}

.quality-info {
  color: var(--white-alifa);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  width: 79px;
}

.quality-num {
  color: var(--white);
  font-family: Montserrat;
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
}

.quality-menu {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}

.quality-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.quality-item {
  padding-left: 30px;
  display: inline-flex;
}

.quality-item:hover {
  padding-left: 0;
}

.quality-item::before {
  content: "";
  background-color: var(--yellow);
  width: 2px;
  height: 34px;
  display: none;
  margin-right: 28px;
}

.quality-item:hover:before {
  display: block;
}

.quality-btn {
  color: var(--white-alifa);
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}

.quality-btn:hover {
  color: var(--white);
}

.quality-projs {
  display: flex;
  gap: 60px;
}

.quality-proj {
}

.quality-img {
}

.quality-content {
  border-bottom: var(--white-alifa-alifa) solid 1px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.quality-subtitle {
  color: var(--white);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  margin-top: 20px;
  margin-bottom: 10px;
}

.quality-year {
  color: var(--white-alifa);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
}

.quality-link {
  color: var(--yellow);
  font-size: 14px;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: uppercase;
  margin-top: 20px;
}

.order {
}

.order-title {
  color: var(--white);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.order-subtitle {
  color: var(--yellow);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.order-list {
}

.order-item {
  color: var(--light-grey);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
}

.how {
}

.how-title {
  color: var(--white);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.how-list {
}

.how-item {
}

.how-button {
  color: var(--white-alifa);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.how-button:hover {
  color: var(--yellow);
}

.how-num {
  border: var(--white-alifa) solid 1px;
  border-radius: 50%;
}

.how-num:hover {
  border: var(--yellow) solid 1px;
  border-radius: 50%;
}

.how-text {
}

.how-subtitle {
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}

.how-info {
  color: var(--light-grey);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
}

.about {
}

.about-list {
}

.about-item {
}

.about-subtitle {
  color: var(--white);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.about-desc {
  color: var(--light-grey);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
}

.about-link {
  color: var(--yellow);
  font-size: 14px;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.goals {
}

.goals-title {
  color: var(--white);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.goals-list {
}

.goals-item {
}

.goals-subtitle {
  color: var(--white);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}

.goals-desc {
  color: var(--light-grey);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
}

.necessity {
}

.necessity-title {
  color: var(--white);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.necessity-img {
}

.necessity-desc {
  color: var(--light-grey);
  background-color: #1f1f1f;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
}

.level {
}

.level-title {
  color: var(--white);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.level-subtitle {
  color: var(--yellow);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.level-list {
}

.level-item {
}

.level-header {
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
}

.level-desc {
  color: var(--light-grey);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

.question {
}

.question-title {
  color: var(--white);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.question-subtitle {
  color: var(--yellow);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.question-list {
}

.question-item {
}

.question-plus {
}

.question-header {
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}

.estimate {
}

.estimate-title {
  color: var(--white);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.estimate-form {
}

.estimate-label {
}

.estimate-text {
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.estimate-input {
  background-color: inherit;
  border: none;
  border-bottom: var(--white-alifa-alifa) solid 1px;
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.estimate-input::placeholder {
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.estimate-download {
}

.estimate-list {
}

.estimate-item {
}

.estimate-link {
  color: var(--yellow);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  text-decoration-line: underline;
}

.estimate-img {
}

.estimate-btn {
  background-color: var(--yellow);
  color: var(--dark-grey);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.contact {
}

.contact-title {
  color: var(--white);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.contact-form {
}

.contact-label {
  color: var(--white-alifa);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

.contact-input {
  background-color: inherit;
  border: none;
  border-bottom: var(--white-alifa-alifa) solid 1px;
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.contact-input::placeholder {
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.contact-coment {
  background-color: inherit;
  border: none;
  border-bottom: var(--white-alifa-alifa) solid 1px;
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.contact-coment::placeholder {
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.contact-btn {
  background-color: var(--yellow);
  color: var(--dark-grey);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.contact-text {
  color: var(--light-grey);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

.contact-link {
  color: var(--yellow);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  text-decoration-line: underline;
}

.footer {
}

.footer-logo {
}

.footer-img {
}

.footer-text {
  color: var(--white);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}

.footer-desc {
  color: var(--light-grey);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

.footer-tel {
}

.footer-phone {
}

.footer-num {
  color: var(--light-grey);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

.footer-list {
}

.footer-item {
}

.footer-link {
  color: var(--light-grey);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.footer-networks {
}

.footer-network {
}

.footer-run {
}

.footer-icon {
}

.footer-line {
  background-color: var(--white-alifa-alifa);
}

.footer-copyright {
  color: var(--light-grey);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}
